* {
    background-color: blueviolet;
    outline: 1px black dotted;
}

.coc-logo {
    display: flex;
    justify-self: flex-start;
    width: 250px;
    padding: 20px;

    & :hover {
        animation: forwards;
    }
}

.coc-troop {
    display: flex;
    align-self: center;
    justify-self: flex-start;
    padding: 20px 0 0 250px;

    & :hover {
        box-shadow: 5rem;
    }
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    width: 100%;
    align-self: center;
}