@import url(https://fonts.googleapis.com/css2?family=Danfo&display=swap,https://fonts.googleapis.com/css2?family=Tiny5&display=swap);
/*@font-face {
    font-family: "Danfo";
    src: url(https://fonts.googleapis.com/css2?family=Danfo&display=swap);
}

@font-face {
    font-family: "Tiny5";
    src: url(https://fonts.googleapis.com/css2?family=Tiny5&display=swap)
}*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    outline: 0px rgb(0, 0, 0) dotted;
    a {
        text-decoration: none;
        -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    }
}

.coc-logo {
    display: flex;
    justify-self: flex-start;
    width: 250px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0);
    &:hover {
        filter: drop-shadow(-25px 8px 23px #e4c92f);
    }
}



.center{
    display: flex;
    justify-content: center;
    padding: 20px;
}

.coc-troop {
    width: 400px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0);
    &:hover {
        filter: drop-shadow(-25px 8px 23px #e4c92f);
    }
}

.h1 {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    font-family: "Tiny5";
    font-weight: 700;
    font-size: 28pt;
    
    .texts {
            .subtitle {
                display: flex;
                justify-content: flex-start;
                font-size: 16pt;
            }
    
            .p1 {
                display: flex;
                justify-content: flex-start;
                font-size: 14pt;
            }
    }
    
    .buttons {
        display: flex;
        justify-content: space-evenly;
        
    
            .headers {
                /*background-image: linear-gradient(to right, #debd26, #e59f00, #ea7e00, #ec5600, #eb1212);*/
                background-image: linear-gradient(to right top, #e5d151, #e5d151, #eb1212);
                padding: 10px 40px 10px 40px;
                font-weight: 500;
                font-family: "Tiny5";
            }
    
            .footers {
                background-image: linear-gradient(to right bottom, #debd26, #debd26, #eb1212);
                padding: 10px 40px 10px 40px;
                font-weight: 300;
                font-family: "Tiny5";
            }

            .headers:hover{
                    filter: drop-shadow(-25px 8px 23px #e4c92f);
            }

            .footers:hover{
                    filter: drop-shadow(-25px 8px 23px #e4c92f);
            }
    }
}



